
#enclosure {
	margin: 5%;
	border: 2px solid #990000;
	border-radius: 15px;
	padding: 2%;
	text-align: center;
}

h2 {
	margin-bottom: 30px;
}

#enclosure ul {
	text-align: left;
	display:inline-block;
}


iframe {
	margin-bottom: 25px;
}

@media only screen and (max-width: 520px) {
	iframe {
		width: 90%;
		height: auto;
	}
}




.tutorial_block {
	border-bottom: 1px solid #990000;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 8%;
	margin-right: 8%;
}


.tutorial_row {
	text-align: center;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 23%;
	padding-right: 30%;
	border-bottom: 1px #990000 solid;
}



.first {
	border-top: 1px solid #990000;
	padding-top: 1%;
}


.tutorial_row h4 {
	text-decoration: underline;
}



svg {
	top: 50%;
	position: relative;
	height: 35px;
	width: 35px;
}


@media only screen and (max-width: 768px) {
	svg {
		position: initial;
	}

	.tutorial_row {
		padding-left: 0;
		padding-right: 0;
	}
}


#smarter {
	text-align: left;
	padding-left: 35%;
}

.small_tutorial {
	margin-top: 15%;
}