{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
	<div id='enclosure' class='container'>
		<div id='heading' class='row'>
			<img id='b_pic' class='col-4' src="{% static 'images/b_pic.jpg' %}">
			<div class="col">
				<h1 ><u>About Dr. Bowman</u></h1>
				<p>Dr. John J. Bowman is the Director of the Mind Plus Muscle Institute for Applied Sport Psychology.</p>
				<p>Dr. Bowman is a licensed Clinical Psychologist and a Sport Psychology Consultant. He is board certified in Clinical Hypnotherapy and maintains a private practice in both Clinical Psychology and Sport Psychology.</p>
				<p>Since 1980 Dr. Bowman has served on the Graduate Faculty at Stony Brook University where he teaches the Psychology of Sport and Performance. An author of many articles and scholarly works in the field he recently published a paper on Sport Hypnosis and Performance Enhancement.</p>
				<p>In 1981 he founded the Mind Plus Muscle Institute for Applied Sport Psychology in Port Jefferson Station, New York. An advocate of Sport Psychology Training at all levels of sport , Dr. Bowman has developed Mindfulness Based Mental Training and Sport Hypnosis programs for Youth League to Olympic Athletes.</p>
			</div>
		</div>
		<p>As the Director of the Long Island Marathon Psych Team, which he established in 1996, he trained psychologists to assist the runners in mental preparation for this challenging event for over 15 years.</p>
		<p>A pioneer in the application and research on Internet based Sport Psychology, Dr.Bowman and his colleague Dr. Ingalls presented a ground breaking study entitled SPORT PSYCHOLOGY Services via the Internet and their Effects at the Association for Applied Sport Psychology Conference in Banff, Canada in 1999.</p>
		<p>Dr. Bowman is a member of the American Psychological Association's Division for Exercise and Sport Science and the Association for Applied Sport Psychology. One of the first Sport Psychologists to become a Certified Mental Performance Consultant in the Association of Applied Sport Psychology he continued in that capacity for the next quarter of a century. In 2021 he was awarded the designation of Certified Mental Performance Consultant-Emeritis.</p>
		<p>As an active member of the United States Olympic Committee Sport Psychology Registry, he currently works with future Olympians in the Olympic development program in the Northeastern United States.</p>
		<p>Dr. Bowman currently serves as the Sports Psychology Consultant to Stony Brook University's Department of Athletics where he provides Performance Enhancement Sports Psychology services to the Athletes, Coaches and Teams.</p>
		<p>In his capacity as the Director of the Mind Plus Muscle Institute, he continues to create innovative learning modalities utilizing person to person, video and internet programs.</p>
	</div>
{% endblock %}