{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/b_60.css' %}">
	<div id='enclosure'>
		<h1>Dr. B. in 60</h1>
		<div id='playlist_1' class='row align-items-center'>
			<h3>The Four Crazy Rules for Mental Toughness</h3>
			<div class="col-lg-3 order-lg-0 col-6 order-1">
				<svg id='back_arrow_1' class="arrow back_arrow bi bi-arrow-left-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
					<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
				</svg>
			</div>
			<div id='current_box_1' class='col-lg-6 order-lg-1 order-0 responsive-container'>
				<iframe class="responsive-iframe" allow="fullscreen"
					src="https://www.youtube.com/embed/dQw4w9WgXcQ">
				</iframe> 
			</div>
			<div class="col-lg-3 order-lg-2 col-6 order-2">
				<svg id='forward_arrow_1' class="arrow forward_arrow bi bi-arrow-right-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
					<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
			</div>
		</div>
		<div id='playlist_2' class='row align-items-center'>
			<h3>Getting Rehab Strong</h3>
			<div class="col-lg-3 order-lg-0 col-6 order-1">
				<svg id='back_arrow_2' class="arrow back_arrow bi bi-arrow-left-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
					<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
				</svg>
			</div>
			<div id='current_box_2' class='col-lg-6 order-lg-1 order-0 responsive-container'>
				<iframe class="responsive-iframe" allow="fullscreen"
					src="https://www.youtube.com/embed/dQw4w9WgXcQ">
				</iframe> 
			</div>
			<div class="col-lg-3 order-lg-2 col-6 order-2">
				<svg id='forward_arrow_2' class="arrow forward_arrow bi bi-arrow-right-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
					<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
			</div>
		</div> 
	</div>
	<script src="{% static 'js/b_60.js' %}"></script>
{% endblock %}