{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/consultation.css' %}">
	<div id='enclosure'>
		<div id='banner'>
			<h1>Stony Brook University</h1>
			<h2>Sport Psychology Services</h2>
		</div>
		<h4>Athletes can schedule individual session with Sport Psychologist and Certified Mental Performance Consultant</h4>
		<h3>Dr. Jack Bowman</h3>
		<h2>To Help You Develop:</h2>
		<div id='points_enclosure'>
			<div id='points'>
				<ul>
					<li>Improved Focus and Concentration</li>
					<li>Stronger Stress Management Skills</li>
					<li>More Effective Emotional Self-Regulation</li>
					<li>Increased Confidence</li>
					<li>Resiliency and Mental Toughness</li>
				</ul>
			</div>
		</div>
		<h4>Appointments scheduled through your Athletic Trainer</h4>
	</div>
{% endblock %}