{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/MFA.css' %}">
	<!-- Fitness Assessment -->
	<div id='mfa_container' class="container">
		<!-- Intro -->
		<div class='intro'>
			<h1>Mental Fitness Assessment</h1>
			<h2>Dr. B's 5 C's</h2>
			<div id='author'>
				<h5>John J. Bowman, Ph.D.</h5>
				<h5>2021</h5>
			</div>
			<br>
			<h6>PHYSICAL FITNESS Is measured by evaluating strength, speed, flexibility, agility, and endurance. All of
				which contribute your overall physical fitness level.</h6><br>
			<h6>MENTAL FITNESS can also be measured by evaluating the psychological attributes of confidence, concentration,
				composure, challenge response, and commitment. All of which contribute to your overall level of Mental
				Toughness and Resiliency.</h6>
		</div>
		<br>
		{% if not results %}
			<h6 class='intro'>Rate each of the statements below to assess your MENTAL FITNESS</h6>
			<h6 id='rating' class='intro'>0 = Never&emsp;&emsp;1 = Sometimes&emsp;&emsp;2 = Almost Always</h6>
			<form method='post'>
				{% csrf_token %}
				<br>
				<div id='mfa_form' class='form'>
					<!-- Confidence -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Confidence</h3>
							<h5>A strong belief or expectancy that you Will succeed at the specific task or challenge you are facing</h5>
						</div>
						<br>
						<div class='form-block'>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I set specific goals for things I want to accomplish in both practice and in competition.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='confidence_1' class="form-check-input" type="radio" value='0'></td>
											<td><input name='confidence_1' class="form-check-input" type="radio" value='1'></td>
											<td><input name='confidence_1' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='confidence_1'>0</label></td>
											<td><label for='confidence_1'>1</label></td>
											<td><label for='confidence_1'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I notice things I do WELL in practice and competition that I store in the back of my mind to draw from when I need to build my confidence.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='confidence_2' class="form-check-input" type="radio" value='0'></td>
											<td><input name='confidence_2' class="form-check-input" type="radio" value='1'></td>
											<td><input name='confidence_2' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='confidence_2'>0</label></td>
											<td><label for='confidence_2'>1</label></td>
											<td><label for='confidence_2'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I utilize a pre-event plan to adjust my focus, arousal level and emotional state to align it with my ideal performance state.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='confidence_3' class="form-check-input" type="radio" value='0'></td>
											<td><input name='confidence_3' class="form-check-input" type="radio" value='1'></td>
											<td><input name='confidence_3' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='confidence_3'>0</label></td>
											<td><label for='confidence_3'>1</label></td>
											<td><label for='confidence_3'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I engage in positive self talk to build my confidence that the stay confident when things get tough.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='confidence_4' class="form-check-input" type="radio" value='0'></td>
											<td><input name='confidence_4' class="form-check-input" type="radio" value='1'></td>
											<td><input name='confidence_4' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='confidence_4'>0</label></td>
											<td><label for='confidence_4'>1</label></td>
											<td><label for='confidence_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I utilize imagery to see myself thinking feeling and acting confidently in practice or competition.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='confidence_5' class="form-check-input" type="radio" value='0'></td>
											<td><input name='confidence_5' class="form-check-input" type="radio" value='1'></td>
											<td><input name='confidence_5' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='confidence_4'>0</label></td>
											<td><label for='confidence_4'>1</label></td>
											<td><label for='confidence_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Confidence -->
					<!-- Concentration -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Concentration</h3>
							<h5>The ability to maintain focus on the most important/relevant aspects of a performance. It entails being able to maintain attention and focus overtime and to stay in the present orientation (not thinking about past or future issues)</h5>
						</div>
						<br>
						<div class='form-block'>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am aware of the noticing part of my mind and engage in mindfulness or meditation practices.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='concentration_1' class="form-check-input" type="radio" value='0'></td>
											<td><input name='concentration_1' class="form-check-input" type="radio" value='1'></td>
											<td><input name='concentration_1' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='concentration_1'>0</label></td>
											<td><label for='concentration_1'>1</label></td>
											<td><label for='concentration_1'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I purposely plan what I will say or think to myself prior to and during event to keep me focused on the task at hand at critical points in the event.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='concentration_2' class="form-check-input" type="radio" value='0'></td>
											<td><input name='concentration_2' class="form-check-input" type="radio" value='1'></td>
											<td><input name='concentration_2' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='concentration_2'>0</label></td>
											<td><label for='concentration_2'>1</label></td>
											<td><label for='concentration_2'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>If I get distracted and my performance goes down I have a plan to refocus and get back on track.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='concentration_3' class="form-check-input" type="radio" value='0'></td>
											<td><input name='concentration_3' class="form-check-input" type="radio" value='1'></td>
											<td><input name='concentration_3' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='concentration_3'>0</label></td>
											<td><label for='concentration_3'>1</label></td>
											<td><label for='concentration_3'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am able to concentrate under pressure and tune into the process of performing while tuning out the importance of the outcome.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='concentration_4' class="form-check-input" type="radio" value='0'></td>
											<td><input name='concentration_4' class="form-check-input" type="radio" value='1'></td>
											<td><input name='concentration_4' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='concentration_4'>0</label></td>
											<td><label for='concentration_4'>1</label></td>
											<td><label for='concentration_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I can Mindfully be aware of distracting thoughts or feelings in a non-judgemental way while keeping my focus on the task at hand.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='concentration_5' class="form-check-input" type="radio" value='0'></td>
											<td><input name='concentration_5' class="form-check-input" type="radio" value='1'></td>
											<td><input name='concentration_5' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='concentration_5'>0</label></td>
											<td><label for='concentration_5'>1</label></td>
											<td><label for='concentration_5'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Concentration -->
					<!-- Composure -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Composure</h3>
							<h5>The ability to deal with strong emotions such as excitement, anger, anxiety and disappointment in the way the facilitates rather than interferes with your sports performance.</h5>
						</div>
						<br>
						<div class='form-block'>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am able to stay calm, confident, and feel in control prior to and during important events.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='composure_1' class="form-check-input" type="radio" value='0'></td>
											<td><input name='composure_1' class="form-check-input" type="radio" value='1'></td>
											<td><input name='composure_1' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='composure_1'>0</label></td>
											<td><label for='composure_1'>1</label></td>
											<td><label for='composure_1'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I recognize that negative feelings are more about me and how I am assessing the situation than anything else.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='composure_2' class="form-check-input" type="radio" value='0'></td>
											<td><input name='composure_2' class="form-check-input" type="radio" value='1'></td>
											<td><input name='composure_2' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='composure_2'>0</label></td>
											<td><label for='composure_2'>1</label></td>
											<td><label for='composure_2'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I focus on those things are that are within my control and set specific goals for them while blocking out things that are outside of my control.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='composure_3' class="form-check-input" type="radio" value='0'></td>
											<td><input name='composure_3' class="form-check-input" type="radio" value='1'></td>
											<td><input name='composure_3' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='composure_3'>0</label></td>
											<td><label for='composure_3'>1</label></td>
											<td><label for='composure_3'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I recognize that between an Event and my Response there is a space. I’ve view that space as my opportunity to Choose my Response.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='composure_4' class="form-check-input" type="radio" value='0'></td>
											<td><input name='composure_4' class="form-check-input" type="radio" value='1'></td>
											<td><input name='composure_4' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='composure_4'>0</label></td>
											<td><label for='composure_4'>1</label></td>
											<td><label for='composure_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I stay Committed to Feeling, Thinking and Behaving in a way that leads to achieving an Important outcome no matter what.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='composure_5' class="form-check-input" type="radio" value='0'></td>
											<td><input name='composure_5' class="form-check-input" type="radio" value='1'></td>
											<td><input name='composure_5' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='composure_5'>0</label></td>
											<td><label for='composure_5'>1</label></td>
											<td><label for='composure_5'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Composure -->
					<!-- Challenge -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Challenge Response</h3>
							<h5>The ability to handle the physical and psychological setbacks/mistakes that occur as part of the sport experience and come back stronger having learned from them and to interpret important events as a challenge to perform at your best not as a cause for fear or anxiety.</h5>
						</div>
						<br>
						<div class='form-block'>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I view mistakes or poor performances as opportunities to learn and to strengthen my determination to improve my performance.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='challenge_1' class="form-check-input" type="radio" value='0'></td>
											<td><input name='challenge_1' class="form-check-input" type="radio" value='1'></td>
											<td><input name='challenge_1' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='challenge_1'>0</label></td>
											<td><label for='challenge_1'>1</label></td>
											<td><label for='challenge_1'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I look at important games or competitions as opportunities for me to excel and to demonstrate to myself and to the world my ability to perform at my best under pressure.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='challenge_2' class="form-check-input" type="radio" value='0'></td>
											<td><input name='challenge_2' class="form-check-input" type="radio" value='1'></td>
											<td><input name='challenge_2' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='challenge_2'>0</label></td>
											<td><label for='challenge_2'>1</label></td>
											<td><label for='challenge_2'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am able to find something useful or beneficial in difficult or challenging situations.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='challenge_3' class="form-check-input" type="radio" value='0'></td>
											<td><input name='challenge_3' class="form-check-input" type="radio" value='1'></td>
											<td><input name='challenge_3' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='challenge_3'>0</label></td>
											<td><label for='challenge_3'>1</label></td>
											<td><label for='challenge_3'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I interpret Pre-event anxious feelings as an alert signal that my body’s activation mechanism is switching on, getting me ready to compete and meet the challenge of the upcoming event.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='challenge_4' class="form-check-input" type="radio" value='0'></td>
											<td><input name='challenge_4' class="form-check-input" type="radio" value='1'></td>
											<td><input name='challenge_4' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='challenge_4'>0</label></td>
											<td><label for='challenge_4'>1</label></td>
											<td><label for='challenge_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I use the positive energy and arousal that comes with feeling challenged to direct my focus toward building my confidence and attending to the specific tasks I need to perform and not the outcome of the event.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='challenge_5' class="form-check-input" type="radio" value='0'></td>
											<td><input name='challenge_5' class="form-check-input" type="radio" value='1'></td>
											<td><input name='challenge_5' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='challenge_5'>0</label></td>
											<td><label for='challenge_5'>1</label></td>
											<td><label for='challenge_5'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Challenge -->
					<!-- Commitment -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Commitment</h3>
							<h5>The ability to handle the physical and psychological setbacks/mistakes that occur as part of the sport experience and come back stronger having learned from them and to interpret important events as a challenge to perform at your best not as a cause for fear or anxiety.</h5>
						</div>
						<br>
						<div class='form-block'>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am unswerving in my belief that hard work, dedication and perseverance will result in attaining my ultimate Dream Goal.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='commitment_1' class="form-check-input" type="radio" value='0'></td>
											<td><input name='commitment_1' class="form-check-input" type="radio" value='1'></td>
											<td><input name='commitment_1' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='commitment_1'>0</label></td>
											<td><label for='commitment_1'>1</label></td>
											<td><label for='commitment_1'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I am willing to sacrifice whatever it takes in the present and maintain a long-term perspective in the journey to success.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='commitment_2' class="form-check-input" type="radio" value='0'></td>
											<td><input name='commitment_2' class="form-check-input" type="radio" value='1'></td>
											<td><input name='commitment_2' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='commitment_2'>0</label></td>
											<td><label for='commitment_2'>1</label></td>
											<td><label for='commitment_2'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I act in accordance with my core values and stay focused on what is most important to me.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='commitment_3' class="form-check-input" type="radio" value='0'></td>
											<td><input name='commitment_3' class="form-check-input" type="radio" value='1'></td>
											<td><input name='commitment_3' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='commitment_3'>0</label></td>
											<td><label for='commitment_3'>1</label></td>
											<td><label for='commitment_3'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I use positive self talk and affirmations to keep me motivated on a daily basis.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='commitment_4' class="form-check-input" type="radio" value='0'></td>
											<td><input name='commitment_4' class="form-check-input" type="radio" value='1'></td>
											<td><input name='commitment_4' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='commitment_4'>0</label></td>
											<td><label for='commitment_4'>1</label></td>
											<td><label for='commitment_4'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
							<div class='form-question row align-items-start'>
								<div class='form-prompt col-8'>
									<p>I feel a strong sense of Support and Encouragement toward my efforts to succeed from my teammates, family and friends.</p>
								</div>
								<div class="form-inputs col-2">
									<table>
										<tr>
											<td><input name='commitment_5' class="form-check-input" type="radio" value='0'></td>
											<td><input name='commitment_5' class="form-check-input" type="radio" value='1'></td>
											<td><input name='commitment_5' class="form-check-input" type="radio" value='2'></td>
										</tr>
										<tr>
											<td><label for='commitment_5'>0</label></td>
											<td><label for='commitment_5'>1</label></td>
											<td><label for='commitment_5'>2</label></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Commitment -->
					<!-- Perception -->
					<div class='inner_form'>
						<div class='form-heading'>
							<h3>Overall Rating</h3>
							<h5>Rate your perceived level of MENTAL FITNESS over the past week on each of Dr. B’S 5 C’s with ZERO being the lowest and TEN being the highest:</h5>
						</div>
						<br>
						<div id='perception' class='form-block'>
							<div class='form-question row align-items-center'>
								<div class='form-prompt col-4'>
									<label for="p_confidence"><h4>Confidence</h4></label>
								</div>
								<div class="form-inputs col-2">
									<select class="form-control" name="p_confidence">
										<option style="display: none;"></option>
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</div>
							</div>
							<div class='form-question row align-items-center'>
								<div class='form-prompt col-4'>
									<label for="p_concentration"><h4>Concentration</h4></label>
								</div>
								<div class="form-inputs col-2">
									<select class="form-control" name="p_concentration">
										<option style="display: none;"></option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>
							</div>
							<div class='form-question row align-items-center'>
								<div class='form-prompt col-4'>
									<label for="p_composure"><h4>Composure</h4></label>
								</div>
								<div class="form-inputs col-2">
									<select class="form-control" name="p_composure">
										<option style="display: none;"></option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>
							</div>
							<div class='form-question row align-items-center'>
								<div class='form-prompt col-4'>
									<label for="p_challenge"><h4>Challenge Response</h4></label>
								</div>
								<div class="form-inputs col-2">
									<select class="form-control" name="p_challenge">
										<option style="display: none;"></option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>
							</div>
							<div class='form-question row align-items-center'>
								<div class='form-prompt col-4'>
									<label for="p_commitment"><h4>Commitment</h4></label>
								</div>
								<div class="form-inputs col-2">
									<select class="form-control" name="p_commitment">
										<option style="display: none;"></option>
										<option>0</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!-- End Perception -->
				</div>
				<br>
				<div id='error_block'><p></p></div>
				<div class='navigation'>
					<svg id='back' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" arrow bi bi-arrow-left-square" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
					</svg>
					<div class='indicator_dots'>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
					</div>
					<input id='submit' type="submit" class='arrow btn btn-primary' value="Submit"></input>
					<svg id='forward' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="arrow bi bi-arrow-right-square" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
					</svg>
				</div>
			</form>
			{% if error %}
				<p id='error'>{{ error }}</p>
			{% endif %}
			<script src="{% static 'js/mfa.js' %}"></script>
		{% else %}
			<div class='form'>
				<div class='form-heading'>
					<h3 style="text-align: center;">Results</h3>
				</div>
				<div id='results'>
					{% for c, result in results %}
						<div class="result">
							<div class='result_c'>
								<h3>{{c}}:</h3>
							</div>
							<div class='result_dots'>
								{% for i in '0123456789'|make_list %}
									<p class='result_dot'></p>
								{% endfor %}
								<p>&emsp;{{result}}/20</p>
							</div>
						</div>
					{% endfor %}
				</div>
				<div id='total'>
					<h3>Overall Mental Fitness Score:&emsp;&emsp;&emsp;&emsp;{{result_sum}}/100&emsp;&emsp;&emsp;&emsp;{{result_percent}}%</h3>
					{% if result_percent > 75 %}
						<h4 style='color: SpringGreen'>Outstanding Mental Fitness</h4>
					{% elif result_percent > 60 %}
						<h4 style='color: yellow'>Could benefit from more consistent application of mental skills</h4>
					{% else %}
						<h4 style='color: red'>Could benefit from mental training</h4>
					{% endif %}
				</div>
				<p style="text-align: center;">Your <u>Mental Fitness Assessment</u> provides a baseline to direct you to which of the Dr B's 5 C's to
					strength in the <u>Mind Gym</u> to build you Mindset For Success.
				</p>
				<div id='try_again'>
					<p></p><a style="color: gray;" href="{% url 'home:MFA' %}">Take it again?</a></p>
				</div>
			</div>
			{{ result_data|json_script:"result_data" }}
			<script src="{% static 'js/mfa_results.js' %}"></script>
		{% endif %}
	</div>
	<div id='bottom_space' class='container'></div>
{% endblock %}