{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/mind_gym.css' %}">
	<script>
		var audios = [];
	</script>
	<div id='enclosure' class='container'>
		<h1>Mind Gym</h1>
		<p>Upon completing the Mental Fitness Assessment and reviewing your Fitness levels. You can enter the Mind Gym.</p>
		<p>The Mind Gym provides you with a guided mental exercise program to build your Mental Fitness in each of Dr. B's 5 C's.<br>
			It directs you to the specific resources in the Success in Mind Library which includes:
		</p>
		<div class='crunch'>
			<p>Narrated Tutorials</p>
			<p>Articles</p>
			<p>Worksheets</p>
			<p>Audio Downloads</p>
			<p>Videos</p>
		</div>
		<br>
		<h2>Mind Gym Workouts:</h2>
		<br>
		<h3>Overall Mental Fitness</h3>
		<br>
		<h5>Narrated Tutorials</h5>
	
		<br>

		<br>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/Four_Crazy_Rules.pdf' %}" target="_blank">Four Crazy Rules for Mental Toughness</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
		<br>
		<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
		<br>
		<a href="{% static 'library/worksheets/Daily_Success_Journal.pdf' %}" target="_blank">Daily Success Journal</a>
		<br>
		<br>
		<h5>Audio</h5>
		<a href="{% static 'library/audio/' %}" target="_blank">Deep Rest and Relaxation</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jim Kwik - How to Learn in Half the Time</a>
		<br>
		<br>
		<br>
		<h3>Dr. B's 5 C's</h3>
		<br>
		<h4>Confidence</h4>
		<br>
		<h5>Narrated Tutorials</h5>
		<br>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental Plan</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
		<br>
		<a href="{% static 'library/worksheets/Daily_Success_Journal.pdf' %}" target="_blank">Daily Success Journal</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How to Conquer and Olympic Biathalon</a>
		<br>
		<br>
		<h4>Concentration</h4>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental Plan</a>
		<br>
		<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and Performance</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
		<br>
		<br>
		<h4>Composure</h4>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/Drawing_Confidence_from_the_well.pdf' %}" target="_blank">Drawing Confidence from the well</a>
		<br>
		<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental Plan</a>
		<br>
		<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and Performance</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">How to Practice Mindfulness in 5 simple steps</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
		<br>
		<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
		<br>
		<a href="{% static 'library/worksheets/Daily_Success_Journal.pdf' %}" target="_blank">Daily Success Journal</a>
		<br>
		<a href="{% static 'library/worksheets/MY-WELL.pdf' %}" target="_blank">My Well</a>
		<br>
		<br>
		<h5>Audio Downloads</h5>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness Training w/ Jon Kabat-Zinn</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness of Body + Breath</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Selling Into Deep Rest and Sleep</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jim Kwik - How to Learn in Half the Time</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">What is Mindfulness and what does it mean to you?</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How your Brain Transforms when you Meditate</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jon Kabat-Zinn - Mindfulness 9 Attitudes</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Matt Killingsworth - Want to Be Happier</a>
		<br>
		<br>
		<h4>Composure</h4>
		<br>
		<h5>Narrated Tutorials</h5>
		<br>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/How-to-Enter-The-Flow-State.pdf' %}" target="_blank">How to Enter the Flow State</a>
		<br>
		<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the	Mental Plan</a>
		<br>
		<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and Performance</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">How to Practice Mindfulness in 5 simple steps</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
		<br>
		<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
		<br>
		<a href="{% static 'library/worksheets/Daily_Success_Journal.pdf' %}" target="_blank">Daily Success Journal</a>
		<br>
		<a href="{% static 'library/worksheets/MY-WELL.pdf' %}" target="_blank">My Well</a>
		<br>
		<a href="{% static 'library/worksheets/MENTAL_PLAN.pdf' %}" target="_blank">Mental Plan</a>
		<br>
		<br>
		<h5>Audio Downloads</h5>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness Training w/ Jon Kabat-Zinn</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness of Body + Breath</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jim Kwik - How to Learn in Half the Time</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">What is Mindfulness and what does it mean to you?</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How your Brain Transforms when you Meditate</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jon Kabat-Zinn - Mindfulness 9 Attitudes</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Matt Killingsworth - Want to Be Happier</a>
		<br>
		<br>
		<h4>Challenge Response</h4>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/CHALLENGE_RESPONSE.pdf' %}" target="_blank">Challenge Response</a>
		<br>
		<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and Performance</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
		<br>
		<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">How to Practice Mindfulness in 5 simple steps</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
		<br>
		<br>
		<h5>Audio Downloads</h5>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness Training w/ Jon Kabat-Zinn</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Mindfulness of Body + Breath</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Selling Into Deep Rest and Sleep</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jim Kwik - How to Learn in Half the Time</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How to Conquer and Olympic Biathalon</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">DJ Porter Performs Like A Star</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Mental Brakes to Avoid Mental Brakes</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">What is Mindfulness and what does it mean to you?</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How your Brain Transforms when you Meditate</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jon Kabat-Zinn - Mindfulness 9 Attitudes</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Matt Killingsworth - Want to Be Happier</a>
		<br>
		<br>
		<h4>Commitment</h4>
		<br>
		<h5>Narrated Tutorials</h5>
		<br>
		<br>
		<h5>Articles</h5>
		<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
		<br>
		<a href="{% static 'library/articles/Four_Crazy_Rules.pdf' %}" target="_blank">Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/articles/CHALLENGE_RESPONSE.pdf' %}" target="_blank">Challenge Response</a>
		<br>
		<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and Performance</a>
		<br>
		<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental Plan</a>
		<br>
		<br>
		<h5>Worksheets</h5>
		<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
		<br>
		<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
		<br>
		<a href="{% static 'library/worksheets/Daily_Success_Journal.pdf' %}" target="_blank">Daily Success Journal</a>
		<br>
		<a href="{% static 'library/worksheets/MENTAL_PLAN.pdf' %}" target="_blank">Mental Plan</a>
		<br>
		<br>
		<h5>Audio Downloads</h5>
		<a href="{% static 'library/audio/' %}" target="_blank">Deep Rest and Relaxation</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Rest and Recovery Hypnosis</a>
		<br>
		<a href="{% static 'library/audio/' %}" target="_blank">Selling Into Deep Rest and Sleep</a>
		<br>
		<br>
		<h5>Videos</h5>
		<a href="{% static 'library/videos/' %}" target="_blank">Dr B in 60 - Four Crazy Rules for Mental Toughness</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Jim Kwik - How to Learn in Half the Time</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">How to Conquer and Olympic Biathalon</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">DJ Porter Performs Like A Star</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Mental Brakes to Avoid Mental Brakes</a>
		<br>
		<a href="{% static 'library/videos/' %}" target="_blank">Susan David - The Gift and Power of Emotional Courage</a>
		<br>
		<br>
	</div>
{% endblock %}