{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/mind_gym.css' %}">
<script>
	var audios = [];
</script>
<div id='enclosure'>
	<h1>Mind Gym</h1>
	<p>Upon completing the Mental Fitness Assessment and reviewing your Fitness levels. You can enter the Mind Gym.</p>
	<p>The Mind Gym provides you with a guided mental exercise program to build your Mental Fitness in each of Dr. B's 5
		C's.<br>
		It directs you to the specific resources in the Success in Mind Library which includes:
	</p>
	<div class='crunch'>
		<p>Narrated Tutorials</p>
		<p>Articles</p>
		<p>Worksheets</p>
		<p>Audio Downloads</p>
		<p>Videos</p>
	</div>
	<br>
	<br>
	<h2>Overall Mental Fitness</h2>
	<br>
	<h3>Narrated Tutorials</h3>
	<p>*Note* Please print out worksheets before tutorial</p>
	<div class='tutorial_block first'>
		<h3>Completing the Weekly Goal/Success Plan</h3>
		<div class='tutorial_row first row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_1' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_1 = document.createElement('audio');
				tutorial_audio_1.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_1_Audio.m4a' %}");
				tutorial_audio_1.volume = .3
				audios.push(tutorial_audio_1)
				$('#tutorial_1').click(function () {
					if (tutorial_audio_1.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_1.play();
					} else if (tutorial_audio_1.currentTime > 0) {
						tutorial_audio_1.pause();
						tutorial_audio_1.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Overview</h4>
				<h5>Vision => Action Plan</h5>
				<p>Confidence</p>
				<p>Concentration</p>
				<p>Composure</p>
				<p>Challenge Response</p>
				<p>Commitment</p>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_2' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_2 = document.createElement('audio');
				tutorial_audio_2.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_2_Audio.m4a' %}");
				tutorial_audio_2.volume = .3
				audios.push(tutorial_audio_2)
				$('#tutorial_2').click(function () {
					if (tutorial_audio_2.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_2.play();
					} else if (tutorial_audio_2.currentTime > 0) {
						tutorial_audio_2.pause();
						tutorial_audio_2.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Components</h4>
				<p>Vision of the Week Ahead</p>
				<p>Action Goal to Accomplish</p>
				<p>Overall Performance Goal</p>
				<p>Level of Satisfaction Goal</p>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_3' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_3 = document.createElement('audio');
				tutorial_audio_3.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_3_Audio.m4a' %}");
				tutorial_audio_3.volume = .3
				audios.push(tutorial_audio_3)
				$('#tutorial_3').click(function () {
					if (tutorial_audio_3.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_3.play();
					} else if (tutorial_audio_3.currentTime > 0) {
						tutorial_audio_3.pause();
						tutorial_audio_3.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Vision/Outcome Goals</h4>
				<p>Believe it will Happen</p>
				<p>Accomplishments</p>
				<p>Positive Experiences</p>
				<p>Self Satisfaction</p>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_4' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_4 = document.createElement('audio');
				tutorial_audio_4.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_4_Audio.m4a' %}");
				tutorial_audio_4.volume = .3
				audios.push(tutorial_audio_4)
				$('#tutorial_4').click(function () {
					if (tutorial_audio_4.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_4.play();
					} else if (tutorial_audio_4.currentTime > 0) {
						tutorial_audio_4.pause();
						tutorial_audio_4.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Progress Goals</h4>
				<div id='smarter'>
					<p><b>S</b>pecific</p>
					<p><b>M</b>easurable</p>
					<p><b>A</b>ction Oriented</p>
					<p><b>R</b>ealistic</p>
					<p><b>T</b>ime-Phased</p>
					<p><b>E</b>xciting</p>
					<p><b>R</b>ecorded</p>
				</div>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_5' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_5 = document.createElement('audio');
				tutorial_audio_5.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_5_Audio.m4a' %}");
				tutorial_audio_5.volume = .3
				audios.push(tutorial_audio_5)
				$('#tutorial_5').click(function () {
					if (tutorial_audio_5.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_5.play();
					} else if (tutorial_audio_5.currentTime > 0) {
						tutorial_audio_5.pause();
						tutorial_audio_5.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Overall Performance</h4>
				<p>Commitment</p>
				<p>Determination</p>
				<p>Level of Demand</p>
				<p>Level of Readiness</p>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_6' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_6 = document.createElement('audio');
				tutorial_audio_6.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_6_Audio.m4a' %}");
				tutorial_audio_6.volume = .3
				audios.push(tutorial_audio_6)
				$('#tutorial_6').click(function () {
					if (tutorial_audio_6.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_6.play();
					} else if (tutorial_audio_6.currentTime > 0) {
						tutorial_audio_6.pause();
						tutorial_audio_6.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Level of Satisfaction</h4>
				<p>Self Esteem</p>
				<p>Feeling of Accomplishment</p>
			</div>
		</div>
		<div class='tutorial_row row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_7' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_7 = document.createElement('audio');
				tutorial_audio_7.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_7_Audio.m4a' %}");
				tutorial_audio_7.volume = .3
				audios.push(tutorial_audio_7)
				$('#tutorial_7').click(function () {
					if (tutorial_audio_7.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_7.play();
					} else if (tutorial_audio_7.currentTime > 0) {
						tutorial_audio_7.pause();
						tutorial_audio_7.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<p><i>If you have built castles in the air your work need not be lost</i></p>
				<p><i>That is where they should be</i></p>
				<p><i>Now put the foundation under them</i></p>
				<p>- Henry David Thoreau</p>
			</div>
		</div>
	</div>
	<div class='tutorial_block'>
		<h3>The Well Journal</h3>
		<div class='tutorial_row first row'>
			<div class='speaker_container col-md-2'>
				<svg id='tutorial_10' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="speaker bi bi-volume-up-fill" viewBox="0 0 16 16">
					<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
					<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
					<path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
				</svg>
			</div>
			<script>
				var tutorial_audio_10 = document.createElement('audio');
				tutorial_audio_10.setAttribute('src', "{% static 'library/tutorial_audio/Tutorial_Board_10_Audio.m4a' %}");
				tutorial_audio_10.volume = .3
				audios.push(tutorial_audio_10)
				$('#tutorial_10').click(function () {
					if (tutorial_audio_10.currentTime == 0) {
						audios.forEach(audio => {
							audio.pause();
							audio.currentTime = 0;
						});
						tutorial_audio_10.play();
					} else if (tutorial_audio_10.currentTime > 0) {
						tutorial_audio_10.pause();
						tutorial_audio_10.currentTime = 0;
					}
				});
			</script>
			<div class='tutorial_text col-md-10'>
				<h4>Well Journal</h4>
				<p>Neuroplasticity</p>
				<p>180 Degree Shift</p>
				<p>What Went Well</p>
				<p>Noticing</p>
				<p>Storing</p>
				<p>Recording</p>
				<p>Drawing</p>
			</div>
		</div>
	</div>
	<br>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/Four_Crazy_Rules.pdf' %}" target="_blank">Four Crazy Rules for Mental
		Toughness</a>
	<br>
	<br>
	<h4>Worksheets</h4>
	<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star Workbook</a>
	<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
	<a href="{% static 'library/worksheets/MY-WELL.pdf' %}" target="_blank">My Well</a>
	<br>
	<br>
	<h4>Audio Downloads</h4>
	<a href="{% static 'library/audio/Deep_Rest_and_Relax.mp3' %}" target="_blank">Deep Rest and Relaxation</a> <br>
	<br>
	<h4>Videos</h4>
	<div>
		<h5>Dr B in 60 - Four Crazy Rules for Mental Toughness</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/jQzjBAsJ938">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jim Kwik - How to Learn in Half the Time</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/0r1LTe5KkSA">
		</iframe>
	</div>
	<br>
	<br>
	<br>
	<h2>Dr. B's 5 C's</h2>
	<br>
	<h3 class='five_c' >Confidence</h3>
	<br>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental Plan</a>
	<br>
	<br>
	<h4>Worksheets</h4>
	<a href="{% static 'library/worksheets/Weekly-Goal-Plan-SB.pdf' %}" target="_blank">Weekly Goal / Success Plan</a>
	<a href="{% static 'library/worksheets/MY-WELL.pdf' %}" target="_blank">My Well</a>
	<br>
	<br>
	<h4>Videos</h4>
	<div>
		<h5>Dr B in 60 - Four Crazy Rules for Mental Toughness</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/jQzjBAsJ938">
		</iframe>
	</div>
	<br>
	<div>
		<h5>How to Conquer an Olympic Biathalon</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/uzpOFOjbkBw">
		</iframe>
	</div>
	<br>
	<br>
	<h3 class='five_c' >Concentration</h3>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental
		Plan</a>
	<br>
	<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and
		Performance</a>
	<br>
	<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
	<br>
	<br>
	<h3 class='five_c' >Composure</h3>
	<br>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/How-to-Enter-The-Flow-State.pdf' %}" target="_blank">How to Enter the Flow
		State</a>
	<br>
	<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental
		Plan</a>
	<br>
	<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and
		Performance</a>
	<br>
	<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
	<br>
	<a href="{% static 'library/articles/How-To-Practice-Mindfulness-In-5-Simple-Steps.pdf' %}" target="_blank">How to Practice Mindfulness in 5
		simple steps</a>
	<br>
	<br>
	<h4>Worksheets</h4>
	<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star
		Workbook</a>
	<br>
	<a href="{% static 'library/worksheets/MY-WELL.pdf' %}" target="_blank">My Well</a>
	<br>
	<a href="{% static 'library/worksheets/MENTAL_PLAN.pdf' %}" target="_blank">Mental Plan</a>
	<br>
	<br>
	<h4>Audio Downloads</h4>
	<a href="{% static 'library/audio/Mindfulness_Training.mp3' %}" target="_blank">Mindfulness Training w/ Jon
		Kabat-Zinn</a>
	<br>
	<a href="https://www.youtube.com/watch?v=glv565nlmEc&t=1s" target="_blank">Mindfulness of Body + Breath</a>
	<br>
	<br>
	<h4>Videos</h4>
	<div>
		<h5>Dr B in 60 - Four Crazy Rules for Mental Toughness</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/jQzjBAsJ938">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jim Kwik - How to Learn in Half the Time</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/0r1LTe5KkSA">
		</iframe>
	</div>
	<br>
	<div>
		<h5>What is Mindfulness and what does it mean to you?</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/iQn8Vuz_wCQ">
		</iframe>
	</div>
	<br>
	<div>
		<h5>How your Brain Transforms when you Meditate</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/hG-T03ZuPFs">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jon Kabat-Zinn - Mindfulness 9 Attitudes</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/kANsRoYcaAo">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Matt Killingsworth - Want to Be Happier</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/t-YIueN4WyA">
		</iframe>
	</div>
	<br>
	<br>
	<h3 class='five_c' >Challenge Response</h3>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/CHALLENGE_RESPONSE.pdf' %}" target="_blank">Challenge Response</a>
	<br>
	<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and
		Performance</a>
	<br>
	<a href="{% static 'library/articles/What-Is-Mindfulness.pdf' %}" target="_blank">What is Mindfulness</a>
	<br>
	<a href="{% static 'library/articles/How-To-Practice-Mindfulness-In-5-Simple-Steps.pdf' %}" target="_blank">How to Practice Mindfulness in 5
		simple steps</a>
	<br>
	<br>
	<h4>Worksheets</h4>
	<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star
		Workbook</a>
	<br>
	<br>
	<h4>Audio Downloads</h4>
	<a href="{% static 'library/audio/Mindfulness_Training.mp3' %}" target="_blank">Mindfulness Training w/ Jon
		Kabat-Zinn</a>
	<br>
	<a href="https://www.youtube.com/watch?v=glv565nlmEc&t=1s" target="_blank">Mindfulness of Body + Breath</a>
	<br>
	<a href="{% static 'library/audio/Rest_and_Sleep.mp3' %}" target="_blank">Settling Into Deep Rest and Sleep</a>
	<br>
	<br>
	<h4>Videos</h4>
	<div>
		<h5>Dr B in 60 - Four Crazy Rules for Mental Toughness</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/jQzjBAsJ938">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jim Kwik - How to Learn in Half the Time</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/0r1LTe5KkSA">
		</iframe>
	</div>
	<br>
	<div>
		<h5>How to Conquer an Olympic Biathalon</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/uzpOFOjbkBw">
		</iframe>
	</div>
	<br>
	<div>
		<h5>DJ Porter Performs Like A Star</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/3IjwhpcEs1w">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Mental Brakes to Avoid Mental Brakes</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/GnSHpBRLJrQ">
		</iframe>
	</div>
	<br>
	<div>
		<h5>What is Mindfulness and what does it mean to you?</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/iQn8Vuz_wCQ">
		</iframe>
	</div>
	<br>
	<div>
		<h5>How your Brain Transforms when you Meditate</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/hG-T03ZuPFs">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jon Kabat-Zinn - Mindfulness 9 Attitudes</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/kANsRoYcaAo">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Matt Killingsworth - Want to Be Happier</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/t-YIueN4WyA">
		</iframe>
	</div>
	<br>
	<br>
	<h3 class='five_c' >Commitment</h3>
	<br>
	<br>
	<h4>Articles</h4>
	<a href="{% static 'library/articles/PERFORM-LIKE-A-STAR-Master.pdf' %}" target="_blank">Perform Like A Star</a>
	<br>
	<a href="{% static 'library/articles/Four_Crazy_Rules.pdf' %}" target="_blank">Four Crazy Rules for Mental
		Toughness</a>
	<br>
	<a href="{% static 'library/articles/CHALLENGE_RESPONSE.pdf' %}" target="_blank">Challenge Response</a>
	<br>
	<a href="{% static 'library/articles/Mindfulness_and_Performance.pdf' %}" target="_blank">Mindfulness and
		Performance</a>
	<br>
	<a href="{% static 'library/articles/DEVELOPING_THE_MENTAL_PLAN.pdf' %}" target="_blank">Developing the Mental
		Plan</a>
	<br>
	<br>
	<h4>Worksheets</h4>
	<a href="{% static 'library/worksheets/Perform-Like-A-Star-Workbook.pdf' %}" target="_blank">Perform Like A Star
		Workbook</a>
	<br>
	<a href="{% static 'library/worksheets/MENTAL_PLAN.pdf' %}" target="_blank">Mental Plan</a>
	<br>
	<br>
	<h4>Audio Downloads</h4>
	<a href="{% static 'library/audio/Deep_Rest_and_Relax.mp3' %}" target="_blank">Deep Rest and Relaxation</a>
	<br>
	<a href="{% static 'library/audio/Rest_and_Recovery_Hypnosis.mp3' %}" target="_blank">Rest and Recovery Hypnosis</a>
	<br>
	<a href="{% static 'library/audio/Rest_and_Sleep.mp3' %}" target="_blank">Settling Into Deep Rest and Sleep</a>
	<br>
	<br>
	<h4>Videos</h4>
	<div>
		<h5>Dr B in 60 - Four Crazy Rules for Mental Toughness</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/jQzjBAsJ938">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Jim Kwik - How to Learn in Half the Time</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/0r1LTe5KkSA">
		</iframe>
	</div>
	<br>
	<div>
		<h5>How to Conquer an Olympic Biathalon</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/uzpOFOjbkBw">
		</iframe>
	</div>
	<br>
	<div>
		<h5>DJ Porter Performs Like A Star</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/3IjwhpcEs1w">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Mental Brakes to Avoid Mental Brakes</h5>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/GnSHpBRLJrQ">
		</iframe>
	</div>
	<br>
	<div>
		<h5>Susan David - The Gift and Power of Emotional Courage</h5>
		<iframe width="420" height="315"
			src="https://embed.ted.com/talks/susan_david_the_gift_and_power_of_emotional_courage">
		</iframe>
	</div>
	<br>
	<br>
</div>
{% endblock %}