{% extends 'base.html' %}

{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<div id='outer'>
		{% if coach %}
			<h1>Coach Profile</h1>
		{% else %}
			<h1>Athlete Profile</h1>
		{% endif %}
		<br>
		<div id='inner'>
			<h3>{{ user.get_full_name }},</h3><br>
			<h5>Info:</h5>
			<p>&emsp;Email: {{ user.email }}</p>
			<p>&emsp;Sport: {{ profile.sports }}</p>
			<br>
			<!-- Team Mental Fitness Table -->
			{% if coach %}
				<div id='team_header' class='row align-items-center'>
					<h4 class='col-md-8'>Team Mental Fitness Assessments</h4>
					<div class='col-md-4'>
						<button id='create_team' type="submit" class="btn btn-primary">Create a Team</button>
					</div>
				</div>
				{% if teams %}
					<div class='table-responsive'>
						<table class='table table-striped'>
							<thead class='table-dark'>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Code</th>
									<th>Submissions</th>
									<th>Confidence</th>
									<th>Concentration</th>
									<th>Composure</th>
									<th>Challenge</th>
									<th>Commitment</th>
									<th>Overall Level</th>
								</tr>
							</thead>
							<tbody>
								{% for team in teams %}
									<tr>
										<th>{{ forloop.counter }}</th>
										<td>{{team.name}}</td>
										<td>{{team.code}}</td>
										<td>{{team.submissions}}</td>
										<td>{{team.a_confidence|floatformat:2}}/20</td>
										<td>{{team.a_concentration|floatformat:2}}/20</td>
										<td>{{team.a_composure|floatformat:2}}/20</td>
										<td>{{team.a_challenge|floatformat:2}}/20</td>
										<td>{{team.a_commitment|floatformat:2}}/20</td>
										<td>{{team.a_total|floatformat:2}}%</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<td><p>Nothing here yet! Create a Team</p></td>
				{% endif %}
				<br>
			{% endif %}
			<!-- Mental Fitness Table -->
			{% if coach %}
				<h4>Individual Mental Fitness Assessments</h4>
			{% else %}
				<h4>Mental Fitness Assessments</h4>
			{% endif %}
			{% if MFAs %}
				<div class='table-responsive'>
					<table class='table table-striped'>
						<thead class='table-dark'>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Confidence</th>
								<th>Concentration</th>
								<th>Composure</th>
								<th>Challenge</th>
								<th>Commitment</th>
								<th>Overall Level</th>
								<th>Export</th>
							</tr>
						</thead>
						<tbody>
							{% for MFA in MFAs %}
								<tr>
									<th>{{ forloop.counter }}</th>
									<td>{{MFA.date|date:'n/j/Y'}} - {{MFA.date|time:'g:i a'}}</td>
									<td>{{MFA.o_confidence}}/20</td>
									<td>{{MFA.o_concentration}}/20</td>
									<td>{{MFA.o_composure}}/20</td>
									<td>{{MFA.o_challenge}}/20</td>
									<td>{{MFA.o_commitment}}/20</td>
									<td>{{MFA.total}}%</td>
									<td>
										<a href="{% url 'home:export_mfa' pk=MFA.pk %}" target="_blank">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
											<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
											</svg>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<td>Nothing here yet! Complete a Mental Fitness Assessment</td>
				<br>
			{% endif %}
			<!-- End Mental Fitness Table -->
			</div>
	</div>

	{% if coach %}
		<div id='team_creator' style="visibility: hidden;">
			<svg id='close_team' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
				<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
			</svg>
			<form id='team_form' method='post'>
				{% csrf_token %}
				<h1>Create a Team</h1>
				<label for="password">Name the Team</label>
				<input name='team_name' type="text" class="form-control" id="team_name" placeholder="Name" maxlength="128" required>
				<br>
				<div id='refresh_button' class="btn btn-primary">
					<svg id='refresh' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
						<path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
						<path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
					</svg>
				</div>
				<div id='team_token_div'>
					<div id='copy_div'>
						<svg id='copy' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
							<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
							<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
						</svg>
					</div>
					<input name='team_token' type="text" class="form-control" id="team_token" value="XXXXXX" readonly>
				</div>
				<p id='status_message'></p>
				<div id='submit' class="btn btn-primary">Create</div>
			</form>
		</div>
		<script src="{% static 'js/profile_coach.js' %}"></script>
	{% endif %}

{% endblock %}