{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/teams.css' %}">
	<div class='container'>
		<div class='row'>
			<div class='col panel'>
				<h3>Perform Like A Star</h3>
				<h5>An introduction to Mental Skills Training with a checklist for performing at your best when under pressure. Using a small group format the athletes share ideas and strategies to be employed in engaging each of the five Mental Skills for creating a mindset for success. This is a powerful and effective Training Experience.</h5>
				<div><a class='btn btn-dark' href="{% static 'pdf/Perform_Like_A_Star.pdf' %}" target="_blank">Download</a></div>
			</div>
			<div class='col panel'>
				<h3>Dream it, Write it, Do it</h3>
				<h3>Action Planning for Achieving Your Goals</h3>
				<h5>Tutorial in Goal Setting and Affirmations which promotes Weekly Action Planning  . This provides a excellent foundation for Student-Athletes to maximize the Benefits of the SUCCESS IN MIND Weekly Goal/Success Plan.</h5>
				<div><a class='btn btn-dark' href="{% static 'pdf/Dream_it_Write_it_Do_it.pdf' %}" target="_blank">Download</a></div>
			</div>
			<div class='col panel'>
				<h3>Mind Ding Positive Energy</h3>
				<h3>The Reframing of Performance Anxiety</h3>
				<h5>Training in a brief but powerful technique to enable athletes to cope with and interpret pre-event anxiety as a positive and empowering response to being challenged</h5>
				<div><a class='btn btn-dark' href="{% static 'pdf/MBB_MIND_DING_WORKSHOP.pdf' %}" target="_blank">Download</a></div>
			</div>
		</div>
		<div class='row'>
			<div class='col panel'>
				<h3>Perform Like a Champion</h3>
				<h5>This Workshop Builds a Powerful Sense of CONFIDENCE in Teams entering Conference Playoff and Championship Games.</h5>
				<ul>
					<li><p>Harness Positive Energy by transforming Pre-Event Anxiety into Pre-Event Empowerment</p></li>
					<li><p>Create a Mental Plan to sharpen their Focus and strengthen their ability to Re-Focus when facing adversity</p></li>
					<li><p>Build Confidence by drawing from the WELL of their best performances</p></li>
				</ul>
				<div><a class='btn btn-dark' href="{% static 'pdf/PERFORM_LIKE_A_CHAMPION.pdf' %}" target="_blank">Download</a></div>
			</div>
			<div class='col panel'>
				<h3>Volleyball Positive Energy Workshop</h3>
				<ul>
					<li><p>Harness Positive Energy by transforming Pre-Event Anxiety into Pre-Event Empowerment</p></li>
					<li><p>Develop Powerful Stress Management Skills</p></li>
					<li><p>Practice MINDFULNESS to sharpen your Focus and Concentration</p></li>
				</ul>
				<div><a class='btn btn-dark' href="{% static 'pdf/VOLLEY_BALL_POSITIVE_ENERGY_WKSHP.pdf' %}" target="_blank">Download</a></div>
			</div>
			<div class='col panel'>
				<h3>Hypnosis for Free Throw Shooting</h3>
				<h5>This workshop is employed in conjunction with a Hypnosis for Free Throw Shooting Audio recording to improve the Mental Focus and Performance from the Free Throw Line.</h5>
				<div><a class='btn btn-dark' href="{% static 'pdf/Hypnosis_Free_Throw_Shooting.pdf' %}" target="_blank">Download</a></div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/teams.js' %}"></script>
{% endblock %}