
#enclosure {
	margin: 5%;
	border: 2px solid #990000;
	border-radius: 15px;
	padding: 2%;
	text-align: center;
}

#playlist_1 {
	margin-top: 4%;
}

#playlist_2 {
	margin-top: 5%;
	border-top: 1px #990000 solid;
	padding-top: 4%;
	padding-bottom: 4%;
}


.arrow {
	position: relative;
	height: auto;
	width: 30%;
	color: #990000;
	cursor: pointer;
}

.responsive-container {
	position: relative;
	overflow: hidden;
	padding-top: 28.125%;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

@media screen and (max-width: 992px) {

	.responsive-container {
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;
		margin-bottom: 5%;
	}

	
	.responsive-iframe {
		padding-left: 8%;
		padding-right: 8%;
	}


	.back_arrow {
		margin-left: 25%;
	}


	.forward_arrow {
		margin-right: 25%;
	}
}


/* Back when there was that cool but unresponsive carrousel */
/* 

.video_block {
	position: relative;
}


.arrow {
	width: 60px;
	height: 60px;
	color: #990000;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}


.front_box {
	position: absolute;
	z-index: 3;
}

.behind_box {
	position: absolute;
	z-index: 0;
	pointer-events: none;
	opacity: .8;
}


.background_arrow {
	background-color: white;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	position: absolute;
	z-index: 1;
}


.back_box {
	margin-top: 3%;
	left: 2%;
}

.current_box {
	left: 25%;
	right: 25%;
}

.forward_box {
	margin-top: 3%;
	right: 2%;
}

.back_arrow {
	margin-top: 13%;
	left: 16%;
}

.back_back_arrow {
	margin-top: 13.7%;
	left: 16.7%;
}

.forward_arrow {
	margin-top: 13%;
	right: 16%;
}

.back_forward_arrow {
	margin-top: 13.7%;
	right: 16.7%;
} */