
@media only screen and (min-width: 990px) {
	.navbar {
		padding: 0;
	}

	.navbar .navbar-nav .nav-item .nav-link {
		padding: 0 0.5em;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
		border-right: 2px solid darkgray;
	}

	.navbar-brand{
		margin-right: 25px;
		margin-left: 5px;
		font-size: 25;
	}
	
}


nav {
	background-color: #990000;
	border-color: #990000;
	color: #990000;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

#brand {
	height: 50px;
}

nav li {
	text-align: center;
}

nav li a {
	height: 100%;
}


@media screen and (max-width: 1327px) and (min-width: 991px) {
	nav li {
		font-size: 90%;
	}

	.navbar-brand {
		margin-right: 0%;
	}
}


@media screen and (max-width: 1181px) and (min-width: 991px)  {
	nav li {
		font-size: 80%;
	}
}

@media screen and (max-width: 1058px) and (min-width: 991px) {
	nav li {
		font-size: 75%;
	}
}



@media (max-width: 990px) {
	#divider {
		border-top: 1px solid darkgray;
	}
}


.btn-primary {
	background-color: #990000;
    border-color: #990000;
}

.btn-primary:hover {
	background-color: red;
    border-color: red;
}

.btn-primary:active {
	background-color: red;
    border-color: red;
	box-shadow: 0px 0px 0px 4px rgb(185, 185, 185) !important;
}

.btn-primary:focus {
    background-color: red;
    border-color: red;
	box-shadow: 0px 0px 0px 4px rgb(185, 185, 185) !important;
}

.form-check-input:checked {
    background-color: #990000;
    border-color: #990000;
}

.form-check-input:focus {
	box-shadow: 0px 0px 0px 4px rgb(185, 185, 185) !important;
}

.form-control:focus {
	box-shadow: 0px 0px 0px 4px rgb(185, 185, 185) !important;
}

.dropdown-item:active {
	background-color: #990000;
}