
#enclosure {
	margin: 3%;
	border: 2px solid #990000;
	border-radius: 15px;
	padding: 2%;
	text-align: center;
}

h1 {
	color: #990000;
}

#banner {
	margin-bottom: 4%;
}

h3 {
	margin-top: 2%;
	margin-bottom: 4%;
}

#points {
	margin-bottom: 2%;
	font-size: 115%;
}

#points ul {
	text-align: left;
	display:inline-block;
}