.container {
	max-width: none;
}


#outer_container {
	position: relative;
	width: 70%;
	text-align: center;
}

#inner_container {
	padding: 30px;
	margin-top: 50px;
	border: 2px #990000 solid;
	border-radius: 25px;
}


#first_statement {
	margin-bottom: 20px;
}


.speaker {
	height: 50px;
	width: 50px;
}

#sbu_splash {
	margin-top: 20px;
	margin-bottom: 20px;
} 


#dr_b {
	position: absolute;
	top: -5%;
	left: -25%;
	max-width: 35%;
	pointer-events: none;
}


@media only screen and (max-width: 1200px) {
	#dr_b {
		visibility: hidden;
	}

	.row {
		display: inline;
	}

	#outer_container {
		position: initial;
		margin: 5%;
		width: auto;
	}

	#inner_container {
		margin: 0%;
		padding: 5%;
	}

	#sbu_splash img {
		max-width: 100%;
	}

	#first_statement {
		margin-right: 0%;
	}
}