#log_in_block {
	margin-top: 30px;
	border: 1px solid blue;
	border-radius: 15px;
	padding: 40px;
}

h1 {
	text-align: center;
}

.form-check {
	margin-top: 4px;
}

#account {
	color: gray;
	text-align: center;
}