
#enclosure {
	margin: 5%;
	border: 2px solid #990000;
	border-radius: 15px;
	padding: 3%;
}

h1 {
	text-align: center;
}

.form-check {
	margin-top: 4px;
}

#account {
	color: gray;
	text-align: center;
}


#button {
	display: flex;
	justify-content: center;
}