
#enclosure {
	margin: 5%;
	border: 2px solid #990000;
	border-radius: 15px;
	padding: 2%;
}

h1 {
	text-align: center;
}


#account {
	color: gray;
	text-align: center;
}

.form-check-input:checked {
    background-color: #990000;
    border-color: #990000;
}

.btn-primary {
	background-color: #990000;
    border-color: #990000;
}

.btn-primary:hover {
	background-color: red;
    border-color: red;
}


#sport_select * {
	display: inline;
	width: 49.25%;
}

#error_block {
	text-align: center;
}


#coach {
	display: flex;
	justify-content: center;
}

#coach input {
	margin-right: 2%;
}


#button {
	display: flex;
	justify-content: center;
}
